body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #87CEFA; /* Warna biru muda */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5DADE2; /* Warna biru hover */
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #555;
}

/* Styling untuk rumus matematika */
.mathjax {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    padding: 15px;
    border-left: 5px solid #4CAF50;
    background-color: #f9f9f9;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.mathjax p {
    margin: 15px 0;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}
